html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, default;
	margin: 0px;
}

a {
	color: #009ADB;
	font-size: 1em;
}

.menu {
	padding-top: 10px;
	min-height: 20px;
	width: 100%;
}

.header {
	width: 100%;
	min-height: 190px;
	background-color: #111111;
	text-transform: uppercase;
}

.header div {
	padding-top: 50px;
	display: block;
	float: left;
}

#header_img {
	padding-left: 50px;
	padding-right: 40px;
	display: none;
}

#header_text {
	padding-top: 70px;
	padding-left: 50px;
}

.menu a {
	font-size: 12px;
}

.content {
	width: 600px;
	min-height: 400px;
	margin: 10px;
	margin-left: 120px;
	margin-top: 30px;
}

.footer {
	width: 1000px;
	text-align: center;
	height: 40px;
	margin-top: 80px;
	font-size: 11px;
	color: #ababab;
}

.logo {

}

.menu ul {
	background-image: none;
	margin: 20px;
	margin-top: 5px;
}

.menu li {
	display: inline;
	list-style-type: none;
	margin-left: 5px;
}

h1 {
	color: #009ADB;
	font-size: 2.2em;
	font-weight: normal;
	display: block;
	margin: 0px;
	font-family: sans-serif;
}

h2 {
	color: #2A2A2A;
	font-size: 1.2em;
	font-weight: normal;
	display: block;
}

p {
	color: #8A8A8A;
	font-size: 0.9em;
	margin: 0px 0px 0.8em;
	margin-bottom: 2em;
	
	line-height: 1.4em;
}

span {
	color: #8A8A8A;
	font-size: 14px;
}

code {
	color: #009ADB;
	font-family: monospace;
	line-height: 100%;
	
	background-color: #EFEFEF;
	border: 1px solid lightGrey;
	display: block;
	padding: 0.6em 0px 0.6em 1em;
	
	margin-top: 5px;
	line-height: 16px;
}

comment {
	color: gray;
}

.content li {
	font-size: 11px;
	margin-bottom: 20px;
}
